<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Info</th>
      <th>Price</th>
      <th>Quantitity</th>
    </tr>
  </thead>
<% @products.each do |product| %>
  <tbody>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.info %></td>
        <td><%= product.price %></td>
        <td><%= product.quantity %></td>
        <td><%= link_to 'delete' , product_path(product),method: :delete, data: { confirm: 'Are you sure?'} %></td>
        <td><%= link_to 'Add to cart' , add_to_cart_order_path(product.id) %></td>
      </tr>
  </tbody>
<% end %>
</table>