<p>
  <strong>name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>info:</strong>
  <%= @product.info %>
</p>
<p>
  <strong>price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>quantity:</strong>
  <%= @product.quantity %>
</p>

<%= link_to 'Main Page', root_path %><br>
<%= link_to 'Products', products_path %>
